/* body {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    color: white; 
} */

.button {
    height: 50px;
    width: 400px;
    font-size: 35px;
    color:black;
}

